html {
    color: #222;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: #fff;
    overflow-y: scroll;
    direction: ltr;
}
.site-logo {
    max-height: 40px;
}
.d-header {
    left: 0;
    padding-top: 3px;
    height: 4.2857em;
    position: relative;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 0px;
}
.btn {
    font-size: .8706em;
    border: none;
    font-weight: normal;
    color: #fff;
    background: #42b983;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}
.panel {
    float: right;
    position: relative;
    display: flex;
    align-items: center;
  }
.about {
display:inline-block;
}
.about img {
display:block;
}